<p>Hola <%= @resource.email %>!</p>

<p>Has solicitado cambiar tu contraseña. Puedes hacerlo en el siguiente link.
</p>

<p><%= link_to 'Cambiar mi contraseña', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>
  Si no has solicitado cambiar tu contraseña, ignora este correo.
</p>
<p>Tu contraseña no cambiará hasta que accedas al link y modifiques tu contraseña.</p>
