<div class="modal-dialog">
  <div class="modal-content animated flipInX">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Cerrar</span></button>
      <h4 class="modal-title">Forma de consulta de compañias</h4>
    </div>
    <div class="modal-body">

      <% form_tag details_path, :method => 'get'do %>

          <div class="form-group">
            <%= label_tag "Cantidad empleados", class: "col-lg-2 control-label"%>
            <div class="col-lg-6">
              <%= text_field_tag :employees, params[:search], class: "form-control" %>

            </div><br><div class="hr-line-dashed"></div>
          </div>


          <div class="form-group">
            <div class="col-sm-6 col-sm-offset-2">
              <%= submit_tag  :name => nil, class: "btn btn-outline btn-danger pull-left" do%>
                  <i class="fa fa-search"></i> Cancelar
              <% end %>

            </div>
          </div>
      <% end %>



    </div>
  </div>
</div>
